<div class="row p-t-25">
  <div class="col-12">
    <app-card cardTitle="Gestión de eventos">
      
      <div class="row p-t-20">
        <div class="col-12">
          <br cardTitle="Hello card">
            <div class="row widget-chart p-t-25">
              <div class="col-md-12">
                <app-card cardTitle="Mis eventos" headerClass="transaction-card-header" actionClass="card-action block" [padding]="0">
                  <mat-tab-group mat-stretch-tabs="false" class="transactions" mat-align-tabs="start">
                    <mat-tab label="Todos los eventos">
                      <ng-container *ngTemplateOutlet="Transaction"></ng-container>
                    </mat-tab>
                    <mat-tab label="Pasados">
                      <ng-container *ngTemplateOutlet="Transaction"></ng-container>
                    </mat-tab>
                    <mat-tab label="Por venir">
                      <ng-container *ngTemplateOutlet="Transaction"></ng-container>
                    </mat-tab>
                  </mat-tab-group>
                  <ng-template #actionTemplate>
                    <div class="row g-2">
                      <div class="col-lg-6 m-t-10">
                        <div class="grid">
                          <button class="grid b-rad-20" mat-stroked-button
                          (click)="consultarEventos()"
                            ><span class="text-truncate w-100">Ver detalles de eventos</span></button
                          >
                        </div>
                      </div>
                      <div class="col-lg-6 m-t-10">
                        <div class="grid">
                          <button class="grid b-rad-20" mat-flat-button color="primary"
                          (click)="mostrarFormulario = !mostrarFormulario"
                            ><span class="text-truncate w-100">Crear nuevo evento</span></button
                          >
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </app-card>
              </div>
            </div>

            <!-- Apartado oculto para el formulario -->
            <div *ngIf="mostrarFormulario" class="mt-4">
              <app-card cardTitle="Nuevo Evento">
                <form (ngSubmit)="crearEvento()">
                  <div class="form-group mb-3">
                    <label for="nombreEvento">Nombre del evento</label>
                    <input type="text" id="nombreEvento" class="form-control" [(ngModel)]="nombreEvento" name="nombreEvento" required>
                  </div>
                  <div class="form-group mb-3">
                    <label for="descripcionEvento">Descripción</label>
                    <textarea id="descripcionEvento" class="form-control" [(ngModel)]="descripcionEvento" name="descripcionEvento" required></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label for="fechaEvento">Fecha</label>
                    <input type="date" id="fechaEvento" class="form-control" [(ngModel)]="fechaEvento" name="fechaEvento" required>
                  </div>
                  <button type="submit" class="btn btn-success">Guardar evento</button>
                </form>
              </app-card>
            </div>
            <!-- Fin del apartado oculto -->

            <ng-template #Transaction>
              <ul class="list-group list-group-flush">
                @for (task of List_transactionEvent; track task) {
                  <li class="list-group-item">
                    <div class="flex align-item-center">
                      <div class="flex-shrink-0">
                        <div class="avatar avatar-s border {{ task.bg }}" matTooltip="{{ task.tooltip }}">{{ task.icon }}</div>
                      </div>
                      <div class="flex-grow-1 m-l-15">
                        <div class="row g-1">
                          <div class="col-6">
                            <h6 class="m-b-0">{{ task.name }}</h6>
                            <p class="text-muted m-b-0"
                              ><small>{{ task.time }}</small></p
                            >
                          </div>
                          <div class="col-6 text-end">
                            <h6 class="m-b-5">{{ task.amount }}</h6>
                            <p class="{{ task.amount_type }} m-b-0"><i class="{{ task.amount_position }}"></i> {{ task.percentage }} </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                }
              </ul>
            </ng-template>

        </div>
      </div>
    </app-card>
  </div>
</div>