<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <form (ngSubmit)="onSubmit()">
          <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
            <h4 class="text-center m-b-25 f-20 f-w-500">Inicia con tu correo</h4>
              <div class="text-start">
                <label for="name" class="f-w-500">Ingresa tu correo</label>
                <mat-form-field appearance="outline" class="w-100 m-t-5">
                  <input matInput required [(ngModel)]="Email" name="email" />
                </mat-form-field>
                <label for="name" class="f-w-500">Ingresa tu contraseña</label>
                <mat-form-field appearance="outline" class="w-100 m-t-5">
                  <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" />
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            <div class="grid">
              <button mat-flat-button color="primary" class="b-rad-20 m-t-15" type="submit">Entrar</button>
            </div>
          </app-card>
        </form>
      </div>
    </div>
  </div>
</div>
